.Home-container{
    display: flex;
    flex-direction: column;
    justify-content: right;
    height: 100vh;
}

.dark-Home-container{
    display: flex;
    flex-direction: column;
    justify-content: right;
    height: 100vh;
    background-color: rgba(26, 26, 26, 1);
}

.Home-title{
    margin-left: 2%;
}

.Home-content-container{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    border-radius: 20px;
}

.Calendar-container{
    width: 60vw;
    height: 80vh;
}

.Social-container{
    background-color: rgba(255, 255, 255, .8);
    width: 25vw;
    height: 80vh;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.chat-container{
    width: 100%;
}


.swap-button{
    font-size: .90rem;
    background-color: rgba(255, 255, 255, 0.5);
    cursor:default;
    padding: .5%;
    opacity: 1;
    border-radius: 20px;
}

.swap-button:hover{
    background-color: rgba(255, 255, 255, 1);
}

.Swap-Button-Container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: .5%;
}