.profilePage-subtitle{
    font-size: 26px;
}

.darkmode-container{
    display: flex;
    align-items: center;
}

.darkmode-checkbox{
    margin-left: 2%;
    width: 40px;
    height: 40px;
}

.profile-header{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.dark-profile-header{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    color: white;
}

.pfp-container{
    display: flex;
    align-items: center;
}

.profile-picture{
    width: 5vw;
    opacity: .6;
    margin-left: 12%;
    margin-top: 5%;
}

.newpfp-container{
    display: flex;
    align-items: center;
}

.pfp-upload{
    margin-left: 2%;
    margin-top: 4%;
    width: 40px;
    height: 40px;
}

#tokenpost{
    display: none;
}