.social-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.calendar-code{
    font-size: 1rem;
    align-self: center;
    border-width: 1px;
    margin-bottom: 5%;
}

.profile-picture-online{
    width: 3vw;
    opacity: .6;
}

.online-profile-box{
    display: flex;
    flex-direction: column;
    margin: 3%;
    align-items: center;
    font-size: .75rem;
}

.scrolling-profile{
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    overflow: -moz-hidden-unscrollable;
    overflow-x: scroll;
    border-bottom: 2px solid rgba(0, 0, 0, .4);
    height: 11vh;
}

.number-online{
    margin-left: 7%;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }

  .chat-container{
      height: 100%;
  }